body {
  background-color: #5bc0de;
}

.active {
	background-color: lightgray;
}

.nalog {
	background-color: #f4f9ff;
	height: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.vloga {
	border-bottom:1px solid #e7e7e7;
	font-weight: bold;
	
}